svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='56px', height='56px', viewbox='0 0 56 56', enable-background='new 0 0 56 56', xml:space='preserve')
   g
      defs
         rect#SVGID_17_(width='56', height='56')
      clippath#SVGID_17-2_
         use(xlink:href='#SVGID_17_', overflow='visible')
      path(clip-path='url(#SVGID_17-2_)',  d='M55.352,2.702l-2.057-2.057C52.879,0.229,52.325,0,51.736,0\
    c-0.413,0-0.816,0.116-1.167,0.334c-0.009,0.006-0.018,0.011-0.027,0.017l-6.921,4.716c-0.006,0.004-0.011,0.009-0.017,0.013\
    c-0.015,0.011-0.03,0.022-0.045,0.035c-0.009,0.007-0.017,0.016-0.026,0.024c-0.009,0.008-0.017,0.015-0.026,0.023L41.51,7.16\
    c-0.356,0.356-0.553,0.83-0.553,1.334c0,0.504,0.196,0.978,0.553,1.334l0.282,0.282l-1.832,1.174\
    c-0.238-0.055-0.867-0.307-1.993-1.067c-0.919-0.621-1.992-0.949-3.104-0.949c-1.062,0-2.096,0.303-2.99,0.877\
    c-0.023,0.015-0.045,0.031-0.066,0.048L2.948,33.184c-0.023,0.018-0.045,0.038-0.065,0.058l-2.087,2.077\
    C0.291,35.821,0.001,36.494,0,37.164c-0.001,0.584,0.216,1.122,0.61,1.516l16.71,16.71c0.393,0.393,0.93,0.61,1.513,0.61h0\
    c0.671,0,1.345-0.29,1.848-0.796l2.076-2.087c0.021-0.021,0.04-0.043,0.058-0.065l22.99-28.86c0.017-0.021,0.033-0.043,0.047-0.066\
    c1.196-1.867,1.168-4.259-0.072-6.095c-0.76-1.126-1.011-1.755-1.067-1.993l1.174-1.832l0.282,0.282\
    c0.356,0.356,0.83,0.553,1.334,0.553s0.978-0.196,1.334-0.553l1.998-1.998c0.009-0.009,0.017-0.019,0.025-0.028\
    c0.007-0.007,0.014-0.015,0.021-0.023c0.013-0.016,0.025-0.032,0.037-0.049c0.004-0.005,0.008-0.01,0.012-0.015l4.716-6.921\
    c0.006-0.009,0.012-0.018,0.017-0.027C56.209,4.553,56.081,3.432,55.352,2.702 M44.536,23.236L21.6,52.028l-2.046,2.056\
    c-0.207,0.208-0.47,0.328-0.722,0.328h0c-0.112,0-0.27-0.025-0.389-0.145l-1.632-1.632l1.645-1.645c0.31-0.31,0.31-0.813,0-1.124\
    c-0.31-0.31-0.813-0.31-1.123,0l-1.645,1.645l-1.992-1.992l1.645-1.646c0.31-0.31,0.31-0.813,0-1.123\
    c-0.31-0.31-0.813-0.31-1.123,0l-1.645,1.645l-1.992-1.992l1.645-1.646c0.31-0.31,0.31-0.813,0-1.123\
    c-0.31-0.31-0.813-0.31-1.123,0L9.457,45.28l-1.992-1.992l1.645-1.646c0.31-0.31,0.31-0.813,0-1.123c-0.31-0.31-0.813-0.31-1.123,0\
    l-1.645,1.645l-1.986-1.986l1.645-1.645c0.31-0.31,0.31-0.813,0-1.124c-0.31-0.31-0.813-0.31-1.123,0l-1.645,1.645l-1.499-1.499\
    c-0.12-0.119-0.145-0.278-0.144-0.39c0-0.252,0.12-0.514,0.328-0.721l2.056-2.046l28.791-22.937c0.631-0.396,1.356-0.605,2.1-0.605\
    c0.794,0,1.559,0.234,2.214,0.677c1.993,1.346,2.721,1.352,2.963,1.352h0.003c0.145,0,0.283-0.021,0.409-0.062\
    c0.065-0.021,0.126-0.05,0.184-0.087l2.219-1.422l1.826,1.826l-1.422,2.219c-0.037,0.057-0.066,0.119-0.087,0.184\
    c-0.096,0.296-0.321,0.991,1.29,3.376C45.341,20.219,45.368,21.909,44.536,23.236 M47.714,13.364\
    c-0.076,0.076-0.165,0.087-0.211,0.087c-0.046,0-0.135-0.011-0.211-0.087l-4.659-4.659c-0.076-0.076-0.087-0.165-0.087-0.211\
    c0-0.046,0.011-0.135,0.087-0.211l1.436-1.436l5.081,5.081L47.714,13.364z M54.322,4.576l-4.165,6.113l-4.848-4.848l6.112-4.165\
    c0.095-0.057,0.204-0.087,0.315-0.087c0.165,0,0.319,0.064,0.435,0.18l2.057,2.057C54.429,4.026,54.467,4.333,54.322,4.576')
      path(clip-path='url(#SVGID_17-2_)',  d='M33.715,16.195c0.475-0.373,1.109-0.444,1.655-0.187l1.67,0.789\
    c0.397,0.188,0.87,0.018,1.058-0.379c0.187-0.397,0.018-0.87-0.379-1.058l-1.67-0.789c-1.093-0.516-2.364-0.373-3.315,0.374\
    l-1.771,1.391l-19.19,15.386c-0.342,0.275-0.397,0.775-0.123,1.117c0.157,0.196,0.388,0.297,0.62,0.297\
    c0.174,0,0.35-0.057,0.496-0.175L31.95,17.58L33.715,16.195z')
      path(clip-path='url(#SVGID_17-2_)',  d='M39.537,23.916c-0.342-0.274-0.842-0.22-1.117,0.123L23.035,43.231\
    c-0.275,0.342-0.219,0.842,0.123,1.117c0.147,0.117,0.322,0.175,0.496,0.175c0.233,0,0.463-0.102,0.62-0.298l15.384-19.192\
    C39.934,24.69,39.879,24.19,39.537,23.916')
      path(clip-path='url(#SVGID_17-2_)',  d='M50.655,3.455l-2.777,1.892c-0.363,0.247-0.456,0.741-0.209,1.104\
    c0.154,0.226,0.403,0.347,0.657,0.347c0.154,0,0.31-0.045,0.447-0.138l2.777-1.892c0.363-0.247,0.456-0.741,0.209-1.104\
    C51.512,3.302,51.018,3.208,50.655,3.455')
