svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='25px', height='63px', viewbox='0 0 25 63', enable-background='new 0 0 25 63', xml:space='preserve')
   g
      defs
         rect#SVGID_16_(width='25', height='63')
      clippath#SVGID_16-2_
         use(xlink:href='#SVGID_16_', overflow='visible')
      path(clip-path='url(#SVGID_16-2_)',  d='M22.061,28.689c0.277-0.363,0.446-0.814,0.446-1.298v-7.484\
    c0-0.712-0.365-1.399-0.953-1.791c-1.223-0.816-3.514-1.013-4.639-1.06c-0.262-1.683-1.002-6.61-1.485-11.629\
    c-0.025-0.257-0.047-0.508-0.069-0.751c-0.108-1.226-0.202-2.285-0.53-3.095C14.408,0.534,13.623,0.002,12.497,0\
    c-1.124,0.002-1.908,0.534-2.331,1.58C9.839,2.39,9.746,3.449,9.637,4.674C9.616,4.918,9.593,5.17,9.569,5.428\
    c-0.483,5.018-1.221,9.946-1.483,11.629c-1.12,0.048-3.398,0.246-4.62,1.06c-0.581,0.387-0.928,1.057-0.928,1.791v7.484\
    c0,0.485,0.156,0.931,0.417,1.29C1.2,29.623,0,31.504,0,33.666v23.705C0,60.475,2.471,63,5.509,63h13.982\
    C22.529,63,25,60.475,25,57.371V33.666C25,31.51,23.807,29.634,22.061,28.689 M11.019,5.574c0.025-0.262,0.048-0.518,0.07-0.766\
    c0.234-2.65,0.425-3.317,1.408-3.319c0.987,0.002,1.177,0.669,1.412,3.321c0.022,0.247,0.044,0.502,0.07,0.763\
    c0.552,5.732,1.436,11.343,1.576,12.218c-0.132,0.222-1.132,0.703-3.054,0.703c-1.921,0-2.921-0.481-3.054-0.703\
    C9.586,16.918,10.467,11.306,11.019,5.574 M4.262,19.364c0.865-0.577,2.803-0.773,3.921-0.821c0.222,0.379,0.659,0.76,1.479,1.039\
    c0.76,0.259,1.768,0.401,2.837,0.401c1.803,0,3.706-0.394,4.318-1.44c1.124,0.047,3.074,0.244,3.939,0.821\
    c0.18,0.12,0.292,0.328,0.292,0.543v4.367H3.996v-4.367C3.996,19.679,4.095,19.476,4.262,19.364 M4.573,28.037\
    c-0.318,0-0.577-0.29-0.577-0.646v-1.627h17.054v1.627c0,0.338-0.3,0.646-0.628,0.646h-0.93H5.509H4.573z M23.542,57.371\
    c0,2.283-1.818,4.14-4.052,4.14H5.509c-2.234,0-4.052-1.857-4.052-4.14V33.666c0-2.283,1.818-4.14,4.052-4.14h13.982\
    c2.234,0,4.052,1.857,4.052,4.14V57.371z')
      path(clip-path='url(#SVGID_16-2_)',  d='M19.262,34.952H5.738c-0.403,0-0.729,0.333-0.729,0.745v7.514\
    c0,0.411,0.326,0.745,0.729,0.745h13.525c0.403,0,0.729-0.333,0.729-0.745v-7.514C19.991,35.285,19.665,34.952,19.262,34.952\
    M18.534,42.466H6.467v-6.024h12.067V42.466z')
      path(clip-path='url(#SVGID_16-2_)',  d='M8.348,56.298H7.953c-0.819,0-1.486-0.681-1.486-1.519V48.96\
    c0-0.411-0.326-0.745-0.729-0.745c-0.403,0-0.729,0.333-0.729,0.745v5.819c0,1.659,1.32,3.008,2.944,3.008h0.395\
    c0.403,0,0.729-0.333,0.729-0.745C9.077,56.631,8.75,56.298,8.348,56.298')