svg(version='1.1', xmlns='http://www.w3.org/2000/svg',xmlns:xlink='http://www.w3.org/1999/xlink',  x='0px', y='0px', width='60px', height='56px', viewbox='0 0 60 56', enable-background='new 0 0 60 56', xml:space='preserve')
   g
      defs
         rect#SVGID_14_(width='60', height='56')
      clippath#SVGID_14-2_
         use(xlink:href='#SVGID_14_', overflow='visible')
      path(clip-path='url(#SVGID_14-2_)', d='M59.654,16.319L38.698,3.581c-0.163-0.099-0.359-0.129-0.545-0.084\
    c-0.186,0.045-0.346,0.162-0.445,0.325l-0.749,1.229l-1.442-0.876c0.186-0.559,0.213-1.16,0.07-1.747\
    c-0.201-0.825-0.712-1.522-1.438-1.964C33.649,0.16,33.077,0,32.495,0c-1.121,0-2.139,0.57-2.722,1.526\
    c-0.784,1.286-0.542,2.912,0.492,3.923l-5.83,9.561c-0.458-0.134-0.945-0.146-1.421-0.031c-0.716,0.174-1.321,0.616-1.705,1.244\
    l-0.722,1.184l-1.865-1.134c-0.163-0.099-0.359-0.129-0.545-0.084c-0.186,0.045-0.346,0.162-0.445,0.325l-0.749,1.229l-1.677-1.019\
    l0.749-1.229c0.207-0.339,0.099-0.782-0.241-0.988l-1.611-0.979c-0.345-0.21-0.74-0.321-1.143-0.321\
    c-0.775,0-1.478,0.394-1.88,1.054l-0.71,1.164c-0.631,1.034-0.301,2.388,0.735,3.018l1.611,0.979\
    c0.117,0.071,0.246,0.105,0.374,0.105c0.243,0,0.481-0.123,0.616-0.345l0.749-1.229l1.677,1.019L15.484,20.2\
    c-0.207,0.339-0.099,0.782,0.241,0.989l1.865,1.133l-1.509,2.475c-0.337-0.085-0.683-0.131-1.033-0.131\
    c-1.488,0-2.837,0.757-3.61,2.024L3.894,39.061c-0.98,1.606-0.752,3.614,0.424,4.962l-2.685,4.403\
    c-0.52,0.853-0.861,1.786-1.013,2.773l-0.611,3.972c-0.044,0.287,0.089,0.573,0.338,0.724C0.461,55.965,0.591,56,0.72,56\
    c0.149,0,0.298-0.046,0.424-0.138l3.253-2.366c0.809-0.588,1.482-1.319,2.003-2.172l2.686-4.405c0.326,0.08,0.661,0.123,1,0.123\
    c1.488,0,2.837-0.757,3.61-2.024l7.544-12.371c0.986-1.617,0.749-3.64-0.447-4.988l1.508-2.473l23.306,14.166\
    c0.117,0.071,0.246,0.105,0.374,0.105c0.243,0,0.481-0.123,0.616-0.345l2.248-3.687c0.099-0.163,0.13-0.359,0.085-0.544\
    c-0.045-0.185-0.162-0.345-0.325-0.444l-5.5-3.343l0.612-1.003l1.395,0.848c0.471,0.286,1.01,0.437,1.559,0.437\
    c1.058,0,2.017-0.538,2.567-1.439l3.699-6.066c0.861-1.412,0.411-3.259-1.003-4.119l-1.395-0.848l0.617-1.012l5.5,3.343\
    c0.117,0.071,0.246,0.105,0.374,0.105c0.243,0,0.481-0.123,0.616-0.345l2.248-3.687C60.102,16.968,59.994,16.526,59.654,16.319\
    M12.95,17.818l-0.995-0.605c-0.358-0.217-0.471-0.684-0.254-1.041l0.71-1.163c0.139-0.228,0.382-0.364,0.649-0.364\
    c0.138,0,0.274,0.038,0.393,0.111l0.995,0.605L12.95,17.818z M35.7,8.497l3.307,2.01l-0.617,1.012l-1.395-0.848\
    c-0.471-0.286-1.01-0.438-1.559-0.438c-1.058,0-2.017,0.538-2.567,1.439l-3.699,6.066c-0.417,0.684-0.542,1.489-0.353,2.267\
    c0.19,0.778,0.671,1.435,1.356,1.852l1.395,0.848l-0.612,1.003l-5.657-3.438l0.722-1.184c0.661-1.084,0.48-2.449-0.356-3.328\
    l5.831-9.562c0.32,0.105,0.655,0.161,0.994,0.161c0.875,0,1.685-0.348,2.276-0.954l1.442,0.876l-0.749,1.229\
    C35.252,7.848,35.36,8.29,35.7,8.497 M30.922,20.628c-0.356-0.216-0.607-0.558-0.705-0.963c-0.099-0.404-0.033-0.823,0.184-1.178\
    l3.699-6.066c0.286-0.469,0.785-0.748,1.335-0.748c0.285,0,0.565,0.079,0.81,0.228l4.022,2.445\
    c0.356,0.216,0.607,0.558,0.705,0.963c0.099,0.404,0.033,0.823-0.183,1.179l-3.699,6.066c-0.286,0.469-0.785,0.748-1.336,0.748\
    c-0.285,0-0.565-0.079-0.81-0.228L30.922,20.628z M31.005,2.274c0.319-0.523,0.876-0.835,1.491-0.835\
    c0.318,0,0.63,0.088,0.904,0.254c0.398,0.242,0.677,0.623,0.787,1.075c0.11,0.451,0.037,0.919-0.205,1.316\
    c-0.319,0.523-0.876,0.835-1.491,0.835c-0.069,0-0.138-0.005-0.207-0.013l0.404-0.663c0.207-0.339,0.099-0.782-0.241-0.989\
    c-0.34-0.207-0.783-0.099-0.99,0.24l-0.403,0.661C30.682,3.609,30.639,2.874,31.005,2.274 M22.54,16.97\
    c0.183-0.3,0.472-0.511,0.814-0.594c0.342-0.083,0.696-0.028,0.996,0.155c0.62,0.377,0.818,1.188,0.44,1.807l-0.722,1.184\
    l-2.25-1.368L22.54,16.97z M5.17,50.577c-0.421,0.69-0.966,1.281-1.62,1.757l-1.854,1.348l0.348-2.263\
    c0.123-0.799,0.399-1.553,0.82-2.244l2.583-4.235l1.153,0.701l1.153,0.701L5.17,50.577z M20.009,31.9l-7.544,12.371\
    c-0.509,0.835-1.398,1.333-2.379,1.333c-0.508,0-1.007-0.14-1.443-0.406l-1.887-1.147l-0.704-0.428\
    c-1.309-0.796-1.726-2.508-0.929-3.815l7.544-12.371c0.509-0.835,1.398-1.333,2.379-1.333c0.508,0,1.006,0.14,1.443,0.406\
    l2.59,1.574C20.39,28.88,20.807,30.592,20.009,31.9 M19.664,26.746l-2.251-1.368l1.407-2.308l2.251,1.368L19.664,26.746z\
    M45.742,37.749L17.089,20.334l1.499-2.458l28.653,17.415L45.742,37.749z M51.707,23.123l-3.699,6.066\
    c-0.286,0.469-0.785,0.748-1.335,0.748c-0.285,0-0.565-0.079-0.81-0.228l-4.022-2.445c-0.356-0.216-0.606-0.558-0.705-0.963\
    c-0.099-0.404-0.033-0.823,0.183-1.179l3.699-6.066c0.286-0.469,0.785-0.748,1.336-0.748c0.285,0,0.565,0.079,0.81,0.228\
    l4.022,2.444C51.921,21.428,52.155,22.389,51.707,23.123 M49.308,18.156l-1.395-0.848c-0.471-0.286-1.01-0.437-1.559-0.437\
    c-1.058,0-2.017,0.538-2.567,1.439l-3.699,6.066c-0.417,0.684-0.542,1.489-0.353,2.267c0.189,0.778,0.671,1.436,1.356,1.852\
    l1.395,0.848l-0.612,1.003l-9.688-5.888l0.612-1.003l1.395,0.848c0.471,0.286,1.01,0.437,1.559,0.437\
    c1.058,0,2.017-0.538,2.567-1.439l3.699-6.066c0.861-1.412,0.411-3.259-1.003-4.119l-1.395-0.848l0.617-1.012l9.688,5.888\
    L49.308,18.156z M56.79,19.631L37.065,7.642l1.499-2.458l19.725,11.989L56.79,19.631z')
      path(clip-path='url(#SVGID_14-2_)', d='M12.867,31.476c-0.34-0.206-0.783-0.099-0.99,0.24l-4.526,7.422\
    c-0.368,0.604-0.479,1.314-0.311,2.001c0.167,0.687,0.592,1.267,1.197,1.635l0.934,0.567c0.117,0.071,0.246,0.105,0.374,0.105\
    c0.243,0,0.481-0.123,0.616-0.346c0.207-0.339,0.099-0.782-0.241-0.989l-0.934-0.567C8.71,41.378,8.516,41.113,8.44,40.8\
    s-0.026-0.637,0.142-0.913l4.526-7.422C13.315,32.125,13.207,31.683,12.867,31.476')
      path(clip-path='url(#SVGID_14-2_)', d='M35.777,13.702c-0.34-0.207-0.783-0.099-0.99,0.24l-2.361,3.872\
    c-0.207,0.339-0.099,0.782,0.241,0.989c0.117,0.071,0.246,0.105,0.374,0.105c0.243,0,0.481-0.123,0.616-0.345l2.361-3.872\
    C36.225,14.351,36.117,13.909,35.777,13.702')
      path(clip-path='url(#SVGID_14-2_)', d='M46.696,20.339c-0.34-0.206-0.783-0.099-0.99,0.24l-2.361,3.871\
    c-0.207,0.339-0.099,0.782,0.241,0.989c0.117,0.071,0.246,0.105,0.374,0.105c0.243,0,0.481-0.123,0.616-0.345l2.361-3.871\
    C47.144,20.988,47.036,20.545,46.696,20.339')
