svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='54px', height='50px', viewbox='0 0 54 50', enable-background='new 0 0 54 50', xml:space='preserve')
   g
      defs
         rect#SVGID_15_(y='0', width='54', height='50')
      clippath#SVGID_15-2_
         use(xlink:href='#SVGID_15_', overflow='visible')
      path(clip-path='url(#SVGID_15-2_)',  d='M5.63,44.042c0.165,0,0.332-0.047,0.481-0.144\
    c0.412-0.27,0.531-0.827,0.264-1.244c-0.429-0.672-0.573-1.472-0.407-2.254c0.343-1.614,1.92-2.645,3.513-2.298\
    c0.48,0.104,0.953-0.205,1.056-0.691c0.103-0.486-0.202-0.965-0.682-1.069c-2.552-0.556-5.075,1.095-5.624,3.679\
    c-0.266,1.252-0.034,2.534,0.652,3.609C5.052,43.897,5.338,44.042,5.63,44.042')
      path(clip-path='url(#SVGID_15-2_)',  d='M52.115,35.507c0.02-0.04,0.038-0.081,0.052-0.125\
    c0.854-2.679,1.287-5.478,1.287-8.319C53.453,12.14,41.464,0,26.727,0C11.99,0,0.001,12.14,0.001,27.062\
    c0,3.079,0.508,6.098,1.507,8.976c-0.615,0.923-1.068,1.971-1.309,3.105c-1.027,4.835,2.023,9.615,6.798,10.655\
    C7.613,49.932,8.242,50,8.867,50c4.141,0,7.78-2.98,8.652-7.085c1.027-4.835-2.023-9.615-6.798-10.654\
    c-0.616-0.134-1.245-0.202-1.87-0.202c-0.219,0-0.436,0.01-0.652,0.026c-0.43-1.631-0.65-3.318-0.65-5.022\
    c0-10.708,8.604-19.42,19.179-19.42s19.179,8.712,19.179,19.42c0,1.696-0.218,3.376-0.644,4.999\
    c-0.043-0.001-0.086-0.003-0.128-0.003c-4.141,0-7.78,2.98-8.652,7.085c-0.497,2.342-0.064,4.74,1.22,6.753\
    c1.284,2.012,3.265,3.398,5.578,3.902C43.895,49.932,44.524,50,45.149,50c4.141,0,7.78-2.98,8.652-7.085\
    C54.375,40.214,53.676,37.531,52.115,35.507 M10.347,34.02c3.817,0.831,6.254,4.652,5.434,8.516\
    c-0.697,3.282-3.605,5.664-6.914,5.664c-0.5,0-1.003-0.055-1.496-0.162c-3.817-0.831-6.254-4.652-5.434-8.516\
    c0.697-3.282,3.605-5.664,6.914-5.664C9.351,33.858,9.854,33.912,10.347,34.02 M26.727,5.842c-11.555,0-20.956,9.519-20.956,21.22\
    c0,1.811,0.227,3.604,0.672,5.341c-1.342,0.39-2.567,1.097-3.581,2.042c-0.719-2.383-1.083-4.861-1.083-7.384\
    C1.779,13.132,12.971,1.8,26.727,1.8s24.949,11.333,24.949,25.262c0,2.381-0.326,4.73-0.969,6.993\
    c-1.035-0.85-2.274-1.476-3.661-1.785c0.422-1.695,0.638-3.444,0.638-5.208C47.683,15.362,38.282,5.842,26.727,5.842\
    M52.063,42.536c-0.697,3.282-3.605,5.664-6.914,5.664c-0.5,0-1.003-0.055-1.496-0.162c-1.849-0.403-3.433-1.51-4.459-3.119\
    c-1.026-1.609-1.373-3.526-0.975-5.398c0.697-3.282,3.605-5.664,6.914-5.664c0.499,0,1.003,0.054,1.496,0.162\
    C50.447,34.851,52.884,38.671,52.063,42.536')
      path(clip-path='url(#SVGID_15-2_)',  d='M46.136,36.342c-1.237-0.269-2.502-0.035-3.565,0.66\
    c-1.062,0.695-1.794,1.767-2.06,3.019c-0.266,1.252-0.034,2.534,0.652,3.609c0.17,0.267,0.456,0.412,0.747,0.412\
    c0.165,0,0.332-0.047,0.481-0.144c0.412-0.27,0.53-0.827,0.264-1.244c-0.429-0.672-0.573-1.472-0.407-2.254\
    c0.166-0.782,0.623-1.452,1.286-1.886c0.664-0.434,1.454-0.58,2.226-0.412c0.48,0.104,0.953-0.205,1.056-0.691\
    C46.922,36.925,46.616,36.447,46.136,36.342')
