-
	var
		liveDemo = false,
		htmlClass = "wide wow-animation",
		fonts = "//fonts.googleapis.com/css?family=Lato:300i,400,400i,700%7CMontserrat:400,500,600,700%7CPlayfair+Display:400,700,700i%7COswald:400,700,700i",
		subscribeFormCounter = 0,
		logo = {
			default: 'logo-dark-main-158x58',
			inverse: 'logo-inverse-260x42',
			name: 'Solari'
		},
		links = {
			post: 'blog-post.html',
			getTemplate:'#get-template'
		},
		colors = {
			primary: '#ee9f9f'
		},
		menu = [
			{
				title: 'Home',
				category: 'home', 
				link: '#home'
			},
			{
				title: 'About',
				category: 'about',
				link: '#about'
			},
			{
				title: 'Services',
				category: 'services',
				link: '#services'
			},
			{
				title: 'Testimonials',
				category: 'testimonials',
				link: '#testimonials'
			},
			{
			title: 'Team',
				category: 'team',
				link: '#team'
			},
			{
				title: 'Gallery',
				category: 'gallery',
				link: '#gallery'
			},
			{
				title: 'Pricing',
				category: 'pricing',
				link: '#pricing'
			},
			{
				title: 'Contacts',
				category: 'contacts',
				link: '#contacts'
			}
		];
